{% extends 'base.html' %}
{% load static %}
{% block title %}Open Hours- Beauty{% endblock %}

{% block content %}


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid bg-jumbotron" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Open Hours</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                <i class="far fa-circle px-3"></i>
                <p class="m-0">Open Hours</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Open Hours Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/opening.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                        <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Open Hours</h6>
                        <h1 class="mb-4">Experience Ultimate Relaxation</h1>
                        <p>Step into a world of tranquility and rejuvenation. Our spa offers a serene atmosphere where you can unwind, refresh, and restore your mind and body. Whether you seek a soothing massage, revitalizing facial, or a peaceful retreat from daily stress, our expert therapists are here to provide a personalized experience just for you.</p>
                        <ul class="list-inline">
                            <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Mon – Fri : 9:00 AM - 7:00 PM</li>
                            <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Saturday : 9:00 AM - 6:00 PM</li>
                            <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Sunday : Closed</li>
                        </ul>
                        <a href="{% url 'home' %}#appointment-section" class="btn btn-primary mt-2">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Open Hours End -->
{% endblock %}

    