{% extends 'base.html' %}
{% load static %}
{% block title %}Testimonial- Beauty{% endblock %}

{% block content %}
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid bg-jumbotron" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h3 class="text-white display-3 mb-4">Testimonial</h3>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                <i class="far fa-circle px-3"></i>
                <p class="m-0">Testimonial</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6 pb-5 pb-lg-0">
                    <img class="img-fluid w-100" src="{% static 'img/testimonial.jpg' %}" alt="">
                </div>
                <div class="col-lg-6">
                    <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">Testimonial</h6>
                    <h1 class="mb-4">What Our Clients Say!</h1>
                    <div class="owl-carousel testimonial-carousel">
                        <div class="position-relative">
                            <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                            <div class="d-flex align-items-center mb-3">
                                <img class="img-fluid rounded-circle" src="{% static 'img/testimonial-1.jpg' %}" style="width: 60px; height: 60px;" alt="">
                                <div class="ml-3">
                                    <h6 class="text-uppercase">Sophia Reynolds</h6>
                                    <span>Wellness Coach</span>
                                </div>
                            </div>
                            <p class="m-0">Absolutely amazing experience! The atmosphere is so calming, and the staff is incredibly professional. I left feeling completely refreshed and relaxed. Highly recommend their spa services!</p>
                        </div>
                        <div class="position-relative">
                            <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                            <div class="d-flex align-items-center mb-3">
                                <img class="img-fluid rounded-circle" src="{% static 'img/testimonial-2.jpg' %}" style="width: 60px; height: 60px;" alt="">
                                <div class="ml-3">
                                    <h6 class="text-uppercase">Daniel Carter</h6>
                                    <span>Corporate Manager</span>
                                </div>
                            </div>
                            <p class="m-0">After a long week at work, this is my go-to place for relaxation. The massage therapy is top-notch, and the ambiance is just perfect. A must-visit for anyone looking to unwind!</p>
                        </div>
                        <div class="position-relative">
                            <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                            <div class="d-flex align-items-center mb-3">
                                <img class="img-fluid rounded-circle" src="{% static 'img/testimonial-3.jpg' %}" style="width: 60px; height: 60px;" alt="">
                                <div class="ml-3">
                                    <h6 class="text-uppercase">Emily Thompson</h6>
                                    <span>Yoga Instructor</span>
                                </div>
                            </div>
                            <p class="m-0">The best spa experience I've ever had! The team is so friendly and skilled. I felt completely rejuvenated after my session. Will definitely be coming back!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{% endblock %}